# Personal Notes
All_notes/
python_tips_and_tricks/

# Course Documents
*.pdf
*.ppt
*.pptx

# Videos
*.mp4
*.mkv

# Compressed Files
*.zip
*.rar

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# OS Files
Thumbs.db
.DS_Store